## Releases

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail thumbnail-strings-dramedy">
      <img src="/img/releases/a-strings-dramedy.jpg" alt="A Strings' Dramedy" class="img-responsive">
      <div class="caption">
        <h3>A Strings' Dramedy</h3>
        <p>
          <strong>A Strings' Dramedy</strong> is a concept album characterized by an allegorical, and at times grotesque critique of society. It tells the story
          of a puppet coming to life in the middle of the theatrical act he was used for. Suddenly all the strings it was tied to tear off and, from a situation
          of slavery and unconsciousness, the puppet is tossed in the absolute freedom; all that will influence its perception of the world it sees. Starting
          from its first steps in this unknown world, to end up with its wish to be a part of such a lively and dynamic world. All this will push it to experience
          the various stages of growth and integration within the society, thing that will be impossible to achive for the character because of its tendency to see
          the reality through distorted eyes, in its view social structures appears to be wiked and populated by grotesque characters, whose behavior is
          unintelligible and irrational.
        </p>
        <p>
          The puppet's allucinated vision of society will push it on brink of insanity, tha will almost make it wish to go back on stage, tied and unconscious.<br/>
          But is it truely it's vision the distorted one? Or maybe it's point of view, totally pure and free, is able to see the true intents of people?!<br/>
          The musical inspirations for A Strings' Dramedy is a <strong>Folk / Death Metal</strong> with strong <strong>symphonic</strong> components, that is
          alternated to <strong>violent rhythms</strong>, <strong>epical-like choirs</strong>, <strong>folk phrasing</strong> and many other influences.
        </p>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p>
              <h4 class="text-left">Tracklist</h4>
              <ol class="tracklist">
                <li>Sudden Break</li>
                <li>The Puppets Theater</li>
                <li>Outside</li>
                <li>Shaped Water</li>
                <li>The Hidden Filth</li>
                <li>Tar Nectar</li>
                <li>Carnival Of Pigs</li>
                <li>Midday Strangers</li>
                <li>A Strings' Dramedy</li>
                <li>The Knot Of Wills</li>
              </ol>
            </p>
          </div>
          <div class="col-md-6 col-sm-12">
            <iframe src="http://player.believe.fr/v2/3614970367581?embed=1&amp;embedType=53f5dde7044c7"
              scrolling="no"
              style="height: 414.167px; overflow: hidden; border: none; margin-bottom: 10px;"></iframe>
          </div>
        </div>
        <p>
          <a href="{{ site.store_url }}" class="btn btn-primary" role="button" target="_blank">Order Now</a>
        </p>
      </div>
    </div>
  </div>
</div>
