<section id="page" class="container content-section text-center">
  <h1>A Strings' Dramedy</h1>
  <br/>
  <h5>You can find the english version of the novel in the CD. Buy it in <a href="{{ site.store_url }}" target="_blank">the store</a>!</h5>
  {% comment %}
  <div class="row">
    <div class="col-md-3">
        <div class="list-group navbar" id="sidebar">
            <ul class="nav hidden-print hidden-sm hidden-xs" id="a-strings-nav" data-spy="affix" data-offset-top="280">
                <li><a href="#act1" class="list-group-item">
                      Act I: Awakening
                    </a>
                    <ul class="nav">
                      <li>
                        <a href="#act1">Sudden Break</a>
                      </li>
                      <li>
                        <a href="#act1-2">The outside world - Outside</a>
                      </li>
                    </ul>
                </li>
                <li> <a href="#act2" class="list-group-item" contenteditable="false">
                      Act II: They call it society
                    </a>
                    <ul class="nav">
                      <li>
                        <a href="#act2">Shaped Water</a>
                      </li>
                      <li>
                        <a href="#act2-2">The Hidden Filth</a>
                      </li>
                      <li>
                        <a href="#act2-3">Tar nectar</a>
                      </li>
                      <li>
                        <a href="#act2-4">Carnival of Pigs</a>
                      </li>
                    </ul>
                </li>
                <li> <a href="#act3" class="list-group-item" contenteditable="false">
                      Act III: A Strings’ Dramedy
                    </a>
                    <ul class="nav">
                      <li>
                        <a href="#act3">A Strings’ Dramedy</a>
                      </li>
                      <li>
                        <a href="#act3-2">The knot of wills</a>
                      </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9" id="strings-dramedy-story">
      <div id="act1" class="act">
          <h2>Sudden Break</h2>
          <p>
            <em>Sveglia!</em><br/>
            A sharp noise, like the finger snap of a big hand. I fell to my knees. The pain went up from my knees to my spine, giving me a thrill, and came out like a whisper from my mouth.<br/>
            I opened up my eyes. I saw hands that I couldn’t identify as mine or someone else’s. I tried to move them, they were mine. There were cut wires hanging from my palms&hellip; disturbing.<br/>
            I observed my body, and noticed that the chopped strings were hanging from my feet too.<br/>
            I let my hands do the job for my eyes and they continued to explore my facial features. I asked myself: who am I? I couldn’t remember.
          </p>
          <p>
            My hands slid to my ears and in that moment I realized that there was a melody in the air. I suddenly looked up and found myself kneeled on a stage.
          </p>
          <p>
            In front of me a huge audience staring in my direction. I looked around me and saw I was in the middle of a theatrical show of some sort. On stage dozens of puppets were shaking and dancing on the rhythm of a well-studied choreography. Their eyes were so lost and lifeless. The horror took over me when I realized that those wires were just the same as the ones hanging from my limbs, even the clothes we wore looked alike. Was I a puppet just like them?
          </p>
          <p>
            It seemed like I was the only one to be aware. At times, it felt like those puppets were offering their hands to me as they wanted me to reunite with them, but I didn’t want to. The idea of ​​being diminished into that state terrified me, so I started to crawl away hoping that no one would have noticed. Finally, at the edge of the stage I glanced back one last time towards the audience. I breathed a sigh of relief realizing that no one paid attention to me. Then I stopped on the audience: their faces were not that different from those of the puppets, they were looking at the stage, but at the same time seemed lost and empty.
          </p>
          <p>
            So many questions were haunting me as I ran towards the exit. Was I really nothing but a puppet? Why was I the only conscious one?</br>
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act1-2" class="act">
          <h2>The outside world - Outside</h2>
          <p>
            I rushed until I found myself out of there. I barely had a moment to feel the wind caressing my skin for the first time, when a shove almost threw me to the ground.
          </p>
          <p>
            Wobbling, I stood back up straight but all around me tons of people on the move carried me violently. It felt like sailing in a stormy sea.
          </p>
          <p>
            I began to walk through the crowd looking for a quiet spot to think. The outside world was extremely chaotic, an overflowing stream of new information and new ideas hit me throwing my mind into utter confusion. I did not know where to go to stop and rest or find some calmness, I looked for help in some of those passersby. I had no idea how to communicate with people, I had never spoken and did not know how to make them understand my situation. As a result, I was badly pushed away.
          </p>
          <p>
            As the crowd dragged me away, I looked around at this huge and overwhelming forest of steel and cement. The buildings stood high in the sky, making the viewer unable to enjoy its sight. Further, I noticed an antenna much higher than all those buildings. I gathered my every strength and headed towards this figure.
          </p>
          <p>
            I started to climb it, and the only thing preventing me from succumbing the exhaustion was the will to watch the world from above, in quiet.
          </p>
          <p>
            Once I reached the top, the light of a red sunset dazzled me. The view in front of me left me breathless. The world that frightened me so much now revealed to my eyes.<br/>
            For the first time in my life I was free, I had a whole world to discover. I promised myself that never again, for no reason at all, I would have been forced in chains once more. Those disconnected strings couldn’t hold me back anymore.
          </p>
          <p>
            An endless expanse of buildings teemed with life stand right in front of me. Everything was dynamic, constantly moving, and full of energy unknown to me until then. Everything was new, it confused me, scared me, but at the same time attracted me terribly.
          </p>
          <p>
            I wanted to become part of that world.<br/>
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act2" class="act">
          <h2>Shaped Water</h2>
          <p>
            To be part of that new world, obviously, I had to learn the basics of civilization and communication, so I tried to attend school.
          </p>
          <p>
            Those children were actually cool. They were the exact opposite of the puppets I saw in the theater, so full of life, initiative and apparently free from any inhibitions.<br/>
            But I just couldn't explain their odd shapes. Sometimes I tried to ask for explanations, but no one seemed to understand what I meant.
          </p>
          <p>
            The children were liquid bodies in constant motion. They could change their shape, deform it and stretch out without ever breaking apart. It seemed to me that they used to stretch across in the direction of things that most attracted their attention, and this condition happened particularly often in the youngest.<br/>
            But more often, when those small water bodies got excessively excited, the teachers took over them. At the sound of their voices the children's shapes became regular and very similar to each other.
          </p>
          <p>
            The teachers used to make me feel very uncomfortable. They looked like shepherdesses peering and scolding the kids whenever the situation was getting chaotic.
          </p>
          <p>
            A week passed by and I was glad I had noticed that. I understood what time was and finally could place my memories back in the past.
          </p>
          <p>
            I had been attending that school for a while but some things always left me puzzled.<br/>
            I was learning just for the sake of it, while most of the students seemed driven by other reasons or they were not interested at all.<br/>
            This led me to observe them even more carefully and I comprehended how their bodies worked. They were generally much more fluid and dynamic when they were young, newly arrived at school, then over time they tended to stiffen and take form.<br/>
            There were also differences between the shapes they would assume. Those who used to take advice from the shepherdesses, tended to assume a regular aspect, though the unruly ones would solidify into confused and irregular embodiment. Then there were those who tended to remain fluid even growing up, they had a strong curiosity about the world and that made me see myself in them.<br/>
            But the teachers tended to reprimand anyone who didn’t assume regular forms.
          </p>
          <p>
            Another oddity was my inability to remember the lessons. After each lecture I learned something new, but I couldn't remember them taking place, it was like I fell asleep just before their beginning.
          </p>
          <p>
            So one day I decided to force myself to stay alert during class and I succeeded.<br/>
            As the teachers entered the classroom, all students fell into trance and stayed still staring off into space.<br/>
            At that point the teachers walked through the class and force-fed a black slop to each student, with no resistance encountered. I watched that scene terrified, but with the awareness that it already happened to me several times and it didn’t cause me horrible consequences.<br/>
            As the kids swallowed that slop, their shape tended to get a little more regular. My turn came, and I realized I’d learnt something new as soon as I washed down the mouthful.<br/>
            When the classes were over all the children woke up and behaved as if nothing had happened.
          </p>
          <p>
            I faked my trance for the rest of my stay in the school, so I could listen to all the discussions between the teachers.<br/>
            It wasn’t hard to hear sentences like: "eat what we have to offer, you’ll become a perfect part of society and you’ll be useful" or "don't let the liberals out there feed you, assimilate what we give you and get the shape that we demand."
          </p>
          <p>
            I realized that the institution of education was meant to shape individuals: all identical to each other, and as predictable as possible. I couldn't understand the reasons why this happened yet, but I wasn’t willing to let them mold me and teach me just a small amount of what I could learn from the world out there.<br/>
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act2-2" class="act">
          <h2>The Hidden Filth</h2>
          <p>
            Once left behind the school, I thought I was able to quickly integrate in the society, but I was wrong. I barely had what I needed to start my journey.<br/>
            At that point I was told I should have gotten a job and settle down. But is it truly that the purpose of life?! Learning a skill and compulsively apply it and repeat it for the rest of your existence?!<br/>
            I started wandering around the city trying to figure out what to do with my future. I felt lost again.
          </p>
          <p>
             Suddenly a deep sound echoed, repeated at regular intervals, caught my attention. I started to seek it out driven by curiosity.
          </p>
          <p>
             A hundred yards further I found myself in front of a huge building, the sound was coming from a large metal object placed on its top. The entire facade was decorated with beautifully crafted bas-relief and statues. Enchanted by the greatness that this place gave off, I asked a person in the entrance what that place was. She answered that it was the house of the Lord and I replied that I had no idea who the Lord was. The woman joining her hands looked at me with astonishment and pity in her eyes. She told me to follow her. She would lead me to someone who could put me on the right path.
          </p>
          <p>
            She took me to a very ambiguous individual that greeted me with an unnatural kindness. He was dressed strangely and gesticulated continuously with his hands, as if they were brushes he was painting in the air with.<br/>
            The woman who brought me there sat down on one of the benches that filled out the entire place. Beside her sat a group of people immersed in a silence that I could not understand.
          </p>
          <p>
            My focus shifted back to the man, who was approaching me with a smile. The woman had informed him that I ignored who the Lord was, and he was ready to fix the issue.
          </p>
          <p>
             He started to talk about this entity which was the creator of everything that exists, almighty and that was watching us from above judging our actions throughout our lives. He told me about the church and how it administered justice divine on earth. I was shocked and scared, I’d have never imagined that could have existed something like that, but it could make sense. If such entity truly existed maybe I was alive because of him. I decided I had to expand my knowledge in that field.
          </p>
          <p>
            For a week I went back to the priest every day.<br/>
            From time to time the priest introduced me topics like heaven, hell, sin and lastly blasphemy, that day I began to suspect that he was filling my head with bullshit.
          </p>
          <p>
            The first day he started talking about heaven:<br/>
            They make you dream and promise you an alluring eternity beyond this world and, since most of the population happen to be in precarious conditions, all this has such a strong influence over them. They own nothing, so the hope that after a life of poverty there is heaven soothes their minds. But a deceptive life is not worth living.
          </p>
          <p>
            Then he told me about hell:<br/>
            After tempting you to go after them, they make you believe that you’ll be doomed to an eternity of suffering and pain if you don’t, they impose their law using fear. And it’s sickening to think that it is exactly that fear and the sense of loss that leads people to these doctrines.
          </p>
          <p>
            Then there is the sin:<br/>
            The sin is the yardstick used to measure how much you are worthy to deserve rewards or punishments from God. Give people a unit of measurement and their purpose will be using it to show others what they are worth.
          </p>
          <p>
            Lastly, he introduced me the concept of blasphemy, which is an insult to the divine entity.<br/>
            But religious people, considering their god fair above all things, assumed blasphemous those who just had a different way thinking, denying freedom of thoughts.
          </p>
          <p>
            They managed to convince me of all these beliefs. I started to feel uncomfortable, but I was frightened to admit that it actually was that set of new laws that made me feel that way.
          </p>
          <p>
            The last day I went to church the priest told me to follow him outside.<br/>
            As we walked toward the door he told me that in that day we would have converted a blaspheme, or at least purified him.
          </p>
          <p>
            The priest said that he was a writer who was about to publish a book called "It's just a carousel ride" in which he rejected any religious belief and affirmed that the human persistence in this world is just fleeting, meant to live without necessarily think that there are higher purposes.<br/>
            In my heart I was curious and wanted to read that book, but I was afraid that God could’ve seen me and might have been mad at me.<br/>
            Once we got out I saw the blasphemer tied at a stake, beneath him there were devoted of the Church stockpiling copies of his book. I trembled with fear realizing that they planned to cleanse him with fire. The priest told him to repent and deny his ideas or he would’ve been burned alive, the blaspheme was struggling and invoking his freedom of thought.<br/>
          </p>
          <p>
            I was confused. I didn’t know what was right or wrong anymore, but setting him on fire seemed an exaggeration to me.<br/>
            Then I felt my blood run cold. My palms were tied to wires again, I followed where they leaded with my eyes and at the other end there were the priest’s hands. I stared him in astonishment as I realized that he was manipulating me.<br/>
            I reminded that I had promised myself to never end up in chains again, as I watched him ordering his devoted to light up the fire. Groggy, I watched the flames burn for a few seconds and only after that, looking up I noticed that the blasphemer had cut wires similar to mine hanging down his hands. The only person like me that I ever met was burning.<br/>
            My strings severed again. A strange feeling descended upon the Earth like a mist, and everyone around me began to change.<br/>
            The members of the congregation turned into scared children with bubble gums in their mouths, so naive, fearful and submissive.<br/>
            The Christ on the cross turned into an evil-eyed ghost watching over them, almost like another bogeyman created to keep those children in line.
          </p>
          <p>
            Lastly, the priest's body swollen up and covered itself with a slimy substance, his clothes had almost disappeared, and what was left of them was horribly tight. The cross hanging from his neck now seemed a sex toy and in the hand he held a whip ready to flog the scared children.<br/>
            Whenever one of those children gave him some attention, his constantly hardened male member, had a twitch. It was the most obscene thing I had ever seen.
          </p>
          <p>
            I shouted with all my strength and began to rush toward the blaspheme hoping I could’ve saved him, but the crowd of children slowed me down too much. I approached to the flames, but it was too late, the writer was dead with his gaze fixed me. I burst into tears, trying to find an intact book among the ashes. I grabbed a small bunch of pages that had not been burnt and ran away screaming in a mixture of despair and anger.
          </p>
          <p>
            There was not much left of what the blasphemer had written, but what I managed to retrieve, added to what I had seen, made me develop a natural revulsion against religious attitudes.
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act2-3" class="act">
          <h2>Tar Nectar</h2>
          <p>
            As I reflected on my past experiences, on the capacity of idolatry and symbols to divert those who are looking for answers, I figured out that I was still in need of a purpose, something to do in that world. I decided to get a job.
          </p>
          <p>
            In this research, I was driven by two factors: first of all, anyone around me talked so much about it. They said that working was the main activity for each person. The second aspect was the economic perspective: many of the things I could do in that world had a cost and I didn’t want to be limited in what I could experience.
          </p>
          <p>
            I didn’t have to do a lot of research to find out that most of the jobs were foreclose to those who had no experience or several years of scholarship behind, and unfortunately, these were the best occupations. But this didn’t discourage me and I accepted willingly a factory job, sure it would have been a new beginning.
          </p>
          <p>
            It was the first morning I set foot on the big courtyard in front of the factory. Honestly, I thought that a place where you have to spend most of the day had to be more comfortable, instead I found myself in front of a gaunt-looking oppressive building. It looked like a huge gray beehive from which protruded dozens of smokestacks that released a thick smoke and many drainage ditches that poured out waters black as pitch.<br/>
            As I approached, I felt anxiety squirming my guts.
          </p>
          <p>
            I stood in line to get in with the other workers. I observed them carefully, they all had a haggard aspect and wore a striped work uniform, yellowed by time, that reminded me the appearance of a bee and partly of a prison uniform.<br/>
            I tried to talk to one of them, but they were people of few words, and the brief conversations I had revealed a certain wish to quickly skip the day and go home.
          </p>
          <p>
            A siren resounded and we all entered the factory. The cold mood that I sensed, collided with my upset stomach, I was sweating and felt nervous.<br/>
            Once inside a supervisor told me what was my role and my placement and only after carrying out my task for a few hours that unpleasant feeling went away.
          </p>
          <p>
            Working was really hard, but I didn’t worry about the difficulty itself. After a few months in the factory, I realized that I had almost ceased to inform me about the world, something I was so feverish about before. I thought that I would find out why I had come to life.<br/>
            At that point I found myself being too tired when I wasn’t working, so the desire to do research went lost.<br/>
            The rest of my co-workers was suffering from the condition. I often tried to talk to them, when superiors were not around, but most of the times I was talking to people down in the dumps and in a bad mood. Their interests were vaguely defined and in their spare time allowed themselves very frivolous distractions, nothing that required the slightest concern.<br/>
            Those people entered that place young and strong and tended to wear out gradually, actually ceasing their own personal growth.<br/>
            Many of them were there just because they had no choice to feed their families, they felt forced, but on the other hand thought that this would give them honor and ended up also making overtime just to receive greater credit among other workers.<br/>
            Very often I couldn’t communicate with them, since they precluded any dialogue that required a minimum of analysis or simply did not answer to me.
          </p>
          <p>
            My uniform’s aspect started to change, the white part was yellowing is very fast, and started to ooze a black liquid, similar to what was flowing outside through the drains. I thought that older workers simply stained their suits working, but instead was the uniform itself to seep that substance.<br/>
            The days were passing by, my uniform was becoming dirtier and my mood got worse more and more. I started to be crabby with the other workers. I often I addressed to them as "Shitty Bees" mocking their look, but I myself had become one of them.
          </p>
          <p>
            One night, I agreed to go out drinking with some colleagues, we went to a bar nearby the factory, and we sat at a table. I could finally communicate appropriately with some of them, but soon I found myself disappointed by the small amount of topics I could brought up with them, and very soon they became all too drunk to allow me to bring the conversation to a higher level. It was evident that they get drunk to ease the stress accumulated during the working day.<br/>
            They were consumed by fatigue in the daytime and alcohol by night.<br/>
            At our table there was the older factory worker. All those years in there made him sag, he could hardly walk, his skin had become darker because of that substance with which he had been in contact for such long time and his eyes were tired. I asked him how he still managed to work in the factory, the man replied that he had no choice, he just had to make it to the retirement. He looked very proud of the life he spent, although I was frightened at the very idea of working to consume myself that way. That man had sacrificed his whole life to make sure that his progeny could have had a chance to be free, to live with dignity, yet he couldn’t admit all these things.<br/>
          </p>
          <p>
            I was deep in thought when shouting voices drew my attention: the owner of the factory was about to visit my department.<br/>
            Usually at that time of the day they were all exhausted, but as soon as they heard the news, began to work twice as hard, impressed by this sudden verve I stepped up the pace of my work.<br/>
            The department head opened the doorway that leaded where we worked, behind him the owner stepped in. He was a clean-cut man with a noble bearing and a certain condescension.<br/>
            I was impressed by the way he was dressed, had a glowing golden yellow suit, crossed vertically by thin black lines. On his head he wore a huge crown, almost seemed a bee like us, but certainly not from the same status level, perhaps a queen bee.<br/>
            He stand in the center of the room watching the workers getting busy, while the floor manager paid him all his attention. With solemn voice said: "You are all great employees, the basis of our company. Working gives you dignity and makes you better people. I assure you that I’ll personally reward the best workers among you".<br/>
            At the sound of those words the employees started to work with even more enthusiasm, it almost seemed as if they had been possessed by a dark entity of some kind. Their uniforms began dripping a black liquid, as their sight became increasingly furious. The prospect of receiving a promotion almost made them go crazy.<br/>
          </p>
          <p>
            Dazed, I looked around. The foreman called me off shouting to get back to work immediately. Without questioning I simply stared at him and walked toward the exit of the factory, while his yelling, his insults and the owner’s arrogant gaze followed me outside.
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act2-4" class="act">
          <h2>Carnival of Pigs</h2>
          <p>
            All my attempts to integrate with society went wrong, I was unable to adapt to the situations with which I dealt. Until then I had only found hypocrisy and lies everywhere and I could not understand how couldn’t people become aware. So I complained, constantly.<br/>
            I used to complain even with strangers met recently and it was right from one of them that I learned of the existence of politics. The man in question listened to my complaints for a long time, interested at first, but then his attention faded away, until he got bored. When he had enough of my lamentations, he told me that perhaps I should have cared about politics if I really thought I could’ve done better than that.
          </p>
          <p>
            The political world was a new concept for me. After I found out its existence I started to inform on how it worked. I learned that it was a way in which ordinary citizens could try to change the laws that ruled the society, and it attracted me a lot.<br/>
            I did some research to understand its structure and learned of political parties and politicians, which were people who put themselves up as representatives and spokesmen of the population.<br/>
            I tried to figure out which party might be right for me and walked toward its closest location.
          </p>
          <p>
            I found myself in front of an office completely covered with posters on which appeared the smiling face of the party's leader and pompous slogans promising a better future.<br/>
            I got in and was warmly welcomed by the secretary of the party, that told me I had to wait a few minutes and I would have soon talked to him.<br/>
            Within his office I saw other posters, slogans and flags reporting the party’s colors and symbols, I thought to myself that it remembered the headquarters of a sporting club.
          </p>
          <p>
            After a few minutes of waiting, the leader told me to sit down in his office.<br/>
            The man in front of me was very well groomed, had a neat appearance and good manners. The only thing that left me a bit puzzled was the plastic impression that came from his face, frozen in a perpetual smile.<br/>
            He invited me to sit down and asked me what I wanted to talk about. I told him my whole story, starting with the bad experiences with scholar education, through the dark time in which I approached to religion, concluding with the factory job that was wearing me out. For each one of these points I exposed the doubts and fears that pushed me away from these environments.<br/>
            He listened carefully what I had to say, except for occasional interruptions when he offered me candies or coffee. This annoyed me a bit ', it seemed he intended to lure me in a certain way.<br/>
            As I ended up my story he told me that he would have included these issues in his electoral program and that he cared a lot about the point of view of a citizen with a critical attitude like me.<br/>
            That being said, he invited me to a debate that would’ve held the following day in the town square, where he would have discussed with the opposite party’s representative. He assured me that the topics would have certainly interested me.
          </p>
          <p>
            The next day I went to the square where the debate would’ve held. Two stages had been mounted, facing each other. Below them extended a crowd parted in two, each side carefully paid attention to stay on his faction’s half. They all wore the colors and symbols of their own party.<br/>
            I thought that this was exaggerated, that situation reminded me two opposite football clubs’ supporters instead of people ready to create a politically constructive debate.
          </p>
          <p>
            I walked among the people, stopping from time to time to ask questions about the points that would have been discussed during the debate. It caught me by surprise to find out that very few people knew what would be discussed, but everyone was ready to strongly support the leaders of their own party if necessary.
          </p>
          <p>
            The two politicians got on their respective stages and the debate began with very soft tones, I followed them carefully.<br/>
            After a few minutes the tone began to raise. Either of the two leaders tended to speak of the totality of the people, what they did was trying to curry the favor of their voter, praising them as defenders of truth and highlighting them as victims of abuse, whose fault was often given to those of the other faction.<br/>
            Until that moment it seemed to me that the discussion didn’t lead anywhere. The way in which was set aimed to propose reforms as a claim for its voters’ rights and not as a resolution to a problem that concerned the whole society.<br/>
            Meanwhile, voters were cheering, although up to that point I didn’t find them too disturbing.
          </p>
          <p>
            Then the tones suddenly soured. The leaders of the two parties increased to insult badly, now despising the other voting bloc, now talking about the adversary’s personal matters. What should have been a debate, now turned into a quarrel aimed to discrediting the other party.<br/>
            People nearby the stage started to fidget and rant more and more violently to the other side. The security guards struggled to keep the situation calm.
          </p>
          <p>
            I turned and looked towards the stage just in time to witness the act that would have triggered the situation to explode. The politician with whom I had spoken the day before, put a hand in his pants and pulled out a handful of his feces, then threw them on his rival.<br/>
            Time seemed to slow down as I looked at that piece of dung spinning in the air in the direction of the opposite faction. Unfortunately, the stage of the rival was too distant and the stroke hit a voter of the other faction right in the face. Suddenly he ended up with a shitty mask on his face. I saw the man’s chest exhaling frantically before he shouted an inhuman scream, that brought the situation into chaos.
          </p>
          <p>
            A minute later the square sunk into utter confusion. Squadrons of the two parties clashed, provoking violent fights, the other electors from behind singing choirs, encouraging them. At a certain point some of them lifted the stages up, while the two leaders, from above, continued to throw against each other an exorbitant amount of shit, never succeeding in hitting each other because of their elevated position. A few minutes later all the people in the square lost its identity under a mask of shit.
          </p>
          <p>
            As I tried to escape from that madness I stopped for a moment to watch the two individuals that had brought to that situation. I finally realized why their faces’ appearance was so plastic: they wore masks!<br/>
            When the chaos in the square reached to the top, they both took off their masks showing their true form. They were two pigs with a penis for a nose, sniggering and abusing their position, while the people covered by their feces unjustly brought them to triumph.<br/>
            Everything seemed like a grotesque carnival of pigs in which the swine paraded dragged from the crowd. Ranting people that way, only served to protect their own advantageous position.
          </p>
          <p>
            So another attempt to approach to society miserably failed, and I did not know where to turn.
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act3" class="act">
          <h2>A Strings’ Dramedy</h2>
          <p>
            How long have I been walking? <br/>
            The only thing I could remember was my shortness of breath and blurred sight. The world around me had turned into a stream of vague visions, I could not concentrate to figure out where I was and what was I doing. I made an effort but my mind clouded again&hellip;
          </p>
          <p>
            How long have I been walking?<br/>
            The only thing I could remember was my shortness of breath and blurred sight. The world around me had turned into a stream of vague visions, I could not concentrate to figure out where I was and what was I doing. I randomly moved my feet in this world that was carrying me away in its waves. I tried to force myself but my mind blurred again&hellip;
          </p>
          <p>
            How long have I been walking?<br/>
            The only thing I could remember was my shortness of breath and blurred sight. The world around me had turned into a stream of vague visions, I could not concentrate to figure out where I was and what was I doing. I randomly moved my feet in this world that was carrying me away in its waves. I felt the regret of my wasted life growing inside me. The visions of my brief and free life gathered in my head, I felt them behind my eyes and then come out, making me weep. I made a final effort to go back to reason... I found myself in front of the theater. I pushed the big front gate and went inside.
          </p>
          <p>
            The curtain opened, the spotlights turned on me and the music started. On stage the same puppets were performing an identical choreography of the day of my departure. Although I hated that place I was invested by an awkward sense of belonging and resignation at the same time. I took my place on stage and continued from the scene that we were playing.<br/>
            On set a grotesque cycle of life was performed, the only existing play, the only thing anybody has ever belonged. That stage was nothing but the society, whose members were moved by invisible wires.
          </p>
          <p>
            So I ceaselessly played those scenes that always repeated identically and that reminded me so much of the outside world:
          </p>
          <p>
            The first act was the birth. <br/>
            Puppets whose creator is unknown are being brought to this world completely innocent and defenseless, they do not know the reason why they exist and the purpose in their lives neither. But when they step in, the scene has already begun and it’s frantically fast, it cannot be stopped just to let them in the carousel. They must learn to walk quickly, so they stick to the many wires hanging from the theater not to collapse to the stage’s ground.
          </p>
          <p>
            Then it came the work: the majority of puppets is being persuaded that the purpose of working is to give meaning and dignity to their existence, but this often reveals to be a mere illusion. Most people remain humble until a new opportunity present itself to escape from that miserable condition, then, as soon as they make a career, they take advantage from their power submitting those who still live in poverty. And speaking of power, the play switched to the political scene in which the puppets could vent their frustration divided in groups and accusing each other because the play took a turn for the worse.
          </p>
          <p>
            That was the plot of the grotesque representation, between comedy and drama, that we repeated constantly. Its acts could be resumed: birth, education, prayer, work, vote and death. The greatest work of all time, billions of background actors and thousands of main characters, without an end.
          </p>
          <p>
            I didn’t pay attention to the time passed while I was performing my role again, maybe I spent months, or perhaps years. I thought to myself: Have I ever left this place? Or had I simply experienced the scenes? Perhaps I saw the world through the theatre, or was I just physically confined in there? I could try to keep my role in the play, but it would have been pointless since my wires had been cut and I couldn’t stop contemplating certain thoughts. Then I realized that there still was a doubt that I had to remove: I had never found out the origin of those wires.
          </p>
          <p>
            They came from above, from a place so far away to be invisible from the ground. I tried to inspect into the theater to see if somebody knew who moved those wires, trying also to interact with other puppets, but I found myself in front of hysteria sceneries in which part of the characters accused the another half of them. But they were always moved from the top, only ever from above.
          </p>
          <p>
            My research didn’t seem to be getting anywhere. I realized that the only way to figure it out was to climb on the wires until I’d have reached the other end.
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act3-2" class="act">
          <h2>The knot of wills</h2>
          <p>
            The climb was hard and it was seriously testing my force of will.<br/>
            At a considerable height, I realized that all the wires converged into a single spot. Whatever was up there, it would give me the answers I was looking for, this gave me the strength to move on.
          </p>
          <p>
            The more I climbed, the more the object to which I was approaching made me puzzled, distracting me from the extreme fatigue.<br/>
            It was a large sphere floating in the sky. At first I thought it was something similar to a small moon orbiting the earth, but it was strange, it seemed to vibrate and on its surface something was moving.
          </p>
          <p>
            I finally arrived on that strange object and found out it was completely made up of wires. It was as large as a city and the wires that composed it constantly moved, like a big skein knotted into an indecipherable mess.<br/>
            I started walking upon it hoping to meet its creator.
          </p>
          <p>
            I’ve been walking for hours, and I could have sworn that I made at least one whole spin around it, but that place was completely deserted. I decided to be patient, and that I would have stayed up there until the mystery wouldn’t have been unraveled. <br/>
            I’ve been meditating on that place when I had an idea: I took some wires and tied them to my feet. Suddenly my legs started to move and I found myself running on that little satellite in random directions. My feet’s movements were completely disjointed and had to untie the strings before I damaged myself. Something was manipulating me, but I couldn’t find any sense in what I was forced to do.<br/>
            I tried to do the same thing with my hand. It started to convulsively shake, slapping me too, so I had to immediately remove the wire before I got hurt. But as soon as I removed it I noticed something. There was another wire tied to my hand, very thin, almost invisible. I tried to get rid of it but it was intangible. This thread did not seem to control me, I didn’t feel altered in any way.<br/>
            I followed it to the other end, to where it entered into the skein. I tried to pull it out, and saw that it was controlling the other puppets under my feet. I realized with astonishment that the thread didn’t originated from the skein towards me, it was the exact opposite. <br/>
          </p>
          <p>
            It was there that I finally realized what was happening. I had a look at my other limbs and saw that there were many other similar wires going into that big tangle, each one of them deforming it infinitesimally. Those wires represented my will, that mingled with that of billions of other people in a huge knot. All the actions and all the desires of mankind were being contaminated there by that of the others, losing the individuality, forming a large knot of will, chaotic and incomprehensible. That chaos generated the wires that I had always seen. They went among people, driving them in their actions without anyone noticing, and without any puppeteer.
          </p>
          <p>
            That big knot in the sky did not move randomly, it received any single will of people after all, but the amount was so high that it was impossible to track down each wire coming. Just as much as it was unimaginable to understand in which way they were generated.
          </p>
          <p>
            For the first time I felt completely free and ready to face the world.
          </p>
          <p>
            All puppeteers, all puppets.
          </p>
          <hr class="col-md-12">
      </div>
    </div>
  </div>
  {% endcomment %}
</section>
