<section id="page" class="container content-section text-center">
  <h1>A Strings' Dramedy</h1>
  <br/>
  <div class="row">
    <div class="col-md-3">
        <div class="list-group navbar" id="sidebar">
            <ul class="nav hidden-print hidden-sm hidden-xs" id="a-strings-nav" data-spy="affix" data-offset-top="{{ site.navbar-offset-top }}">
                <li><a href="#act1" class="list-group-item">
                      Atto I: Risveglio
                    </a>
                    <ul class="nav">
                      <li>
                        <a href="#act1">Risveglio – Sudden Break</a>
                      </li>
                      <li>
                        <a href="#act1-2">Mondo esterno - Outside</a>
                      </li>
                    </ul>
                </li>
                <li> <a href="#act2" class="list-group-item" contenteditable="false">
                      Atto II: Loro la chiamano società
                    </a>
                    <ul class="nav">
                      <li>
                        <a href="#act2">La Scuola – Shaped Water</a>
                      </li>
                      <li>
                        <a href="#act2-2">L'oscenità celata – The Hidden Filth</a>
                      </li>
                      <li>
                        <a href="#act2-3">Nettare di catrame – Tar Nectar</a>
                      </li>
                      <li>
                        <a href="#act2-4">Il carnevale dei porci – Carnival of Pigs</a>
                      </li>
                    </ul>
                </li>
                <li> <a href="#act3" class="list-group-item" contenteditable="false">
                      Atto III: A Strings' Dramedy
                    </a>
                    <ul class="nav">
                      <li>
                        <a href="#act3">A Strings’ Dramedy</a>
                      </li>
                      <li>
                        <a href="#act3-2">Il nodo – The knot of wills</a>
                      </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9" id="strings-dramedy-story">
      <div id="act1" class="act">
          <h2>Atto I: Risveglio</h2>
          <h3>Risveglio – Sudden Break</h3>
          <p>
            <em>Sveglia!</em><br/>
            Un rumore secco, come lo schiocco delle dita di una grande mano. Caddi in ginocchio. Il dolore risalì dalle mie ginocchia lungo la schiena, dandomi un brivido, e fuoriuscì sibilando dalla mia bocca.<br/>
            Aprii gli occhi. Vedevo delle mani che non riuscivo ad identificare come mie o estranee. Provai a muoverle, erano le mie. C'erano dei fili recisi che pendevano dai palmi... inquietante.</br>
            Esplorai quel che mi era possibile guardare del mio corpo e notai che dei fili recisi pendevano anche dai miei piedi.</br>
            I miei occhi passarono il testimone alle mie mani ed esse continuarono esplorando i tratti del mio viso. Ma chi ero io? Non riuscivo a ricordare.</br>
          </p>
          <p>
            Le mie mani continuarono fino alle mie orecchie e in quel momento mi resi conto che c'era della musica nel posto in cui mi trovavo. Alzai lo sguardo di scatto e scoprii di essere in ginocchio su un palco.
          </p>
          <p>
            Di fronte avevo un grande pubblico che guardava verso la mia direzione. Mi girai per guardarmi intorno e mi resi conto di essere nel bel mezzo di una rappresentazione teatrale di qualche tipo. Sul palco si agitavano decine di marionette, muovendosi in coreografie ben studiate. I loro sguardi erano privi di vita e persi nel vuoto. L'orrore mi assalì quando mi accorsi che i fili che le muovevano erano uguali a quelli recisi che pendevano dai miei arti e simili erano anche i vestiti che indossavamo. Ero anch'io una marionetta come loro?
          </p>
          <p>
            Sembrava che fossi l'unico ad aver preso coscienza. A tratti mi sembrava che le marionette mi tendessero la mano per ricongiungermi a loro, ma non volevo farlo. L'idea di essere ridotto in quello stato mi terrorizzava, quindi iniziai a strisciare via dal palco sperando che nessuno mi notasse. Arrivato al bordo del palco lanciai un ultimo sguardo verso il pubblico. Tirai un sospiro di sollievo accorgendomi che nessuno mi aveva notato. Poi mi soffermai sui loro sguardi: non erano tanto diversi da quelli delle marionette, guardavano il palco ma sembravano allo stesso tempo persi nel vuoto.
          </p>
          <p>
            Le domande mi assillavano mentre correvo verso l'uscita. Ero veramente una marionetta? E perché ero l'unica cosciente?</br>
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act1-2" class="act">
          <h3>Mondo esterno - Outside</h3>
          <p>
            Corsi a perdifiato finché non mi ritrovai fuori da li. Feci appena in tempo a sentire per la prima volta il vento che mi accarezzava la pelle, quando una spallata quasi mi scaraventò a terra.
          </p>
          <p>
            Barcollando mi rimisi dritto, ma intorno a me una marea di persone in movimento mi trasportava violentemente. Sembrava come navigare in un mare in burrasca.
          </p>
          <p>
            Iniziai a muovermi tra la folla cercando un punto tranquillo per riflettere. Il mondo esterno era veramente caotico, un fiume in piena di nuove informazioni e nuovi stimoli mi investì gettando la mia mente nella confusione più totale. Non sapendo dove andare per fermarmi o per trovare un po' di serenità, cercai aiuto in qualcuno di quei passanti, ma non avevo la minima idea di come si comunicasse con la gente, non avevo mai parlato e non sapevo come far capire la mia situazione. Come risultato venni solo scacciato in malo modo.
          </p>
          <p>
            Mentre la folla mi trascinava via mi guardai intorno osservando quest'enorme ed opprimente foresta di acciaio e cemento. Gli edifici si stagliavano altissimi nel cielo, precludendo la vista di gran parte di esso. Lontano notai un'antenna che era molto più alta di tutti gli edifici, raccolsi tutte le mie forze e mi diressi verso di essa.
          </p>
          <p>
            Iniziai ad arrampicarmici e solo la voglia di osservare quel mondo da un punto elevato e tranquillo mi diede la forza per non soccombere alla fatica.
          </p>
          <p>
            Arrivato in cima, la luce di un tramonto rosso mi abbagliò. La visione che avevo di fronte mi lasciò senza fiato, il mondo che tanto mi spaventava ora si rivelava ai miei occhi.</br>
            Realizzai per la prima volta di essere libero, con un mondo intero da scoprire e promisi a me stesso che mai più, per nessun motivo al mondo, sarei stato ridotto in catene da qualcuno. I fili che si erano staccati non mi avrebbero trattenuto mai più.
          </p>
          <p>
            Di fronte a me c'era un'immensa distesa di edifici che brulicavano di vita. Tutto era dinamico, in continuo movimento e carico di un'energia per me sconosciuta fino ad allora. Tutto era nuovo, mi confondeva, mi spaventava, ma alla stesso tempo mi affascinava terribilmente.
          </p>
          <p>
            Volevo diventare parte di quel mondo.
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act2" class="act">
          <h2>Atto II: Loro la chiamano società</h2>
          <h3>La Scuola – Shaped Water</h3>
          <p>
            Per fare parte di quel mondo nuovo, ovviamente, dovevo imparare le basi della civiltà e della comunicazione, quindi cercai di frequentare una scuola.
          </p>
          <p>
            Forti i bambini. Loro erano esattamente il contrario delle marionette che vidi nel teatro, pieni di vita e di iniziativa e apparentemente liberi da qualsiasi freno.<br/>
            Solo non riuscivo a spiegarmi la loro strana forma. A volte cercavo di chiedere spiegazioni ad altri, ma nessuno sembrava capire cosa intendessi.
          </p>
          <p>
            I bambini erano corpi liquidi in continuo movimento. Si deformavano, mutavano e si allungavano senza tuttavia disfarsi mai. Mi sembrava fossero soliti espandersi nella direzione di qualcosa che attirava la loro attenzione e questa condizione si vedeva particolarmente nei più piccoli.
            Molto spesso, però, quando queste piccole masse d'acqua si agitavano eccessivamente, intervenivano le insegnanti. Al loro richiamo le forme dei bambini diventavano regolari e molto simili tra di loro.
          </p>
          <p>
            Le insegnanti mi inquietavano molto. Erano molto simili a cagne da pastore che scrutavano i bambini e li richiamavano ogni volta che la situazione diventava caotica.
          </p>
          <p>
            Passò una settimana ed ero contento di essermene reso conto. Finalmente sapevo cos'era il tempo e finalmente potevo collocare i miei ricordi nel passato.
          </p>
          <p>
            Frequentavo quella scuola da un po' di tempo e alcune cose mi lasciavano perplesso.<br/>
            Mentre io imparavo per il semplice gusto di farlo, la maggior parte degli studenti sembrava spinta da altri motivi o non era proprio interessata a farlo.<br/>
            Questo mi portò ad osservarli con maggiore attenzione e mi resi conto di come funzionavano i loro corpi. In genere erano molto più fluidi e dinamici quando erano piccoli, appena arrivati a scuola, poi con il tempo tendevano a solidificarsi, ad assumere delle forme precise.<br/>
            C'erano anche delle differenze nelle forme che assumevano. Chi dava molto ascolto alle cagne tendeva ad assumere forme regolari, mentre i più indisciplinati si solidificavano in forme più confuse, irregolari. Poi c'erano coloro che tendevano a rimanere fluidi anche crescendo, in loro notai una forte curiosità verso il mondo e mi riconobbi in quell'atteggiamento.<br/>
            Ma le insegnanti tendevano a rimproverare chiunque non assumesse forme lineari.
          </p>
          <p>
            Un'altra stranezza era la mia incapacità di ricordare le lezioni. Dopo ogni lezione avevo imparato qualcosa di nuovo ma non riuscivo a ricordare il loro svolgimento, era come se mi addormentassi subito prima.
          </p>
          <p>
            Così un giorno decisi di sforzarmi di rimanere vigile durante la lezione e ci riuscii.<br/>
            All'ingresso delle insegnanti nell'aula gli alunni cadevano in uno stato di trance e restavano immobili a fissare il vuoto.<br/>
            A quel punto le insegnanti passavano banco per banco e imboccavano a forza una sbobba nera a tutti, senza che nessuno potesse opporre resistenza. Io guardavo quella scena terrorizzato, ma con la consapevolezza che mi era già successo altre volte, quindi non mi sarebbe successo nulla di terribile.<br/>
            Notai subito che quando i ragazzi mandavano giù quella brodaglia, la loro forma tendeva a diventare un po' più regolare e quando fu il mio turno, mi accorsi di aver imparato qualcosa di nuovo appena mandai giù il boccone.<br/>
            A lezione finita tutti i ragazzini si svegliavano e si comportavano come se non fosse successo nulla.
          </p>
          <p>
            Finsi di andare in trance per tutto il resto della mia permanenza nella scuola, così potei ascoltare tutti i discorsi che le insegnanti facevano tra di loro.<br/>
            Non era difficile sentire frasi come “mangia quello che noi abbiamo da offrirti, così diventerai un perfetto ingranaggio sociale e potrai renderti utile” oppure “non ti farai nutrire dai liberali che ci sono là fuori, tu devi assimilare quello che noi ti diamo e assumere la forma che noi vogliamo”.
          </p>
          <p>
            Realizzai che l'istruzione era un'istituzione volta a creare soggetti tutti uguali tra di loro, quanto più prevedibili possibile. Ancora non capivo i motivi per cui questo avveniva, ma non avevo intenzione di farmi plasmare da loro, sapevo che la fuori c'era un mondo in cui potevo imparare molto di più.
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act2-2" class="act">
          <h3>L'oscenità celata – The Hidden Filth</h3>
          <p>
            Abbandonata la scuola mi illusi di potermi inserire subito nella società, ma non fu così. Avevo appena quello che mi serviva per iniziare il mio percorso.<br/>
            Ora mi dicevano che avrei dovuto trovarmi un lavoro e sistemarmi. Ma era solo questa la vita?! Imparare qualcosa e applicarlo compulsivamente per il resto della propria esistenza?!<br/>
            Iniziai a vagare per la città cercando di capire cosa dovevo farne del mio futuro. Mi sentivo di nuovo perso.
          </p>
          <p>
             Improvvisamente un suono profondissimo, ripetuto ad intervalli regolari attirò la mia attenzione. Iniziai a seguirlo spinto dalla curiosità.
          </p>
          <p>
             Dopo qualche centinaio di metri mi ritrovai di fronte ad un edificio enorme, il suono proveniva da un grande oggetto metallico posto sulla sua cima. L'intera facciata era decorata da bassorilievi e statue di bellissima fattura. Estasiato dalla grandezza che quel posto emanava, chiesi ad una delle persone che vi entravano di che posto si trattasse. Mi rispose che era la casa del signore ed io ribattei dicendo che non avevo idea di chi fosse questo signore. La donna congiunse le mani e mi guardò con uno sguardo da cui trapelava stupore e pietà. Mi disse di seguirla. Mi avrebbe portato da  qualcuno che mi avrebbe mostrato la retta via.
          </p>
          <p>
             Mi portò da un tipo molto ambiguo che mi accolse con una gentilezza innaturale. Era vestito in modo strano e gesticolava di continuo con le mani, come se fossero dei pennelli con cui disegnava per aria.<br/>
            La donna che mi aveva portato lì andò a sedersi su una delle panchine che riempivano l'intero locale. Di fianco a lei c'era una schiera di individui assorti in un silenzio che non riuscivo ad interpretare.
          </p>
          <p>
             Ritornai sull'uomo che si avvicinava a me sorridendo. La donna di prima lo aveva informato che io non conoscevo il signore e lui era pronto a rimediare.
          </p>
          <p>
             Iniziò a parlarmi di quest'entità che era il creatore di tutto, che era onnipotente e che ci guardava e giudicava in ogni momento. Mi parlò della chiesa, mi disse che essa amministrava la giustizia divina sulla terra. Ero esterrefatto ed impaurito, non immaginavo potesse esistere qualcosa del genere, ma la cosa poteva avere senso. Se esisteva veramente un'entità del genere avrebbe avuto le capacità per svegliarmi dal mio stato d'incoscienza e forse ero vivo per sua volontà. Decisi che dovevo approfondire quelle conoscenze.
          </p>
          <p>
             Per una settimana tornai dal prete ogni giorno.</br>
            Di volta in volta mi introdusse ad argomenti come il paradiso, l'inferno, il peccato e infine la blasfemia, e proprio quel giorno iniziai a sospettare che mi stava riempiendo la testa di stronzate.
          </p>
          <p>
             Il primo giorno iniziò parlandomi del paradiso:<br/>
            Ciò che usano per farti sognare, ti promettono una bellissima eternità e questo ha veramente tanta presa sulla gente, viste le condizioni misere in cui gran parte di essa versa. Non hanno niente, perciò gli fa comodo illudersi che dopo una vita di stenti ci sia il paradiso. Non vale la pena vivere una vita di false speranze.
          </p>
          <p>
             Poi passò all'inferno: <br/>
            Dopo averti invogliato a seguirli ti fanno credere che non facendolo sarai destinato verso un'eternità di sofferenze, impongono le proprie regole solo grazie alla paura. <br/>
            E' rivoltante pensare che è proprio la paura ed il senso di smarrimento a portare la gente verso tali dottrine.
          </p>
          <p>
             Poi c'è il peccato: <br/>
            Il metro per misurare quanto si è degni di ricevere i premi o le punizioni di dio. Dai alla gente un'unità di misura e loro non vedranno l'ora di usarla per mostrare agli altri quanto valgono.
          </p>
          <p>
             Infine mi introdusse al concetto di blasfemia, cioè l'offesa nei confronti di una divinità. <br/>
            Ma i religiosi, considerando le divinità giuste sopra ogni cosa, credono che sia blasfemo anche il solo pensarla diversamente dalle loro leggi, negando di fatto la libertà di pensiero.
          </p>
          <p>
             Erano riusciti a convincermi di tutte queste cose. Iniziai a sentirmi a disagio, ma ero terrorizzato dall'ammettere che era quell'insieme di nuove regole a farmi sentire così.
          </p>
          <p>
             L'ultimo giorno in cui andai in chiesa il prete mi disse di seguirlo fuori.
            Mentre ci incamminavamo verso l'uscita mi disse che oggi avremmo convertito un blasfemo oppure l'avremmo purificato.
          </p>
          <p>
             Il prete disse che era uno scrittore che stava per pubblicare un libro intitolato “E' solo un giro di giostra” nel quale negava ogni credo religioso ed affermava che la permanenza umana su questo mondo è solo qualcosa di temporaneo, da vivere senza pensare per forza che ci siano scopi di forza maggiore.<br/>
            In cuor mio ero curioso e volevo leggere quel libro, ma avevo paura che dio potesse accorgersene e adirarsi con me.<br/>
             Arrivati fuori vidi il blasfemo legato ad un palo, sotto di lui i fedeli accatastavano copie del suo libro. Rabbrividii quando realizzai che intendevano purificarlo con un rogo.<br/>
            Il prete gli disse di convertirsi e negare le proprie idee o sarebbe stato arso vivo, il blasfemo si dimenava ed invocava la sua libertà di pensiero.
          </p>
          <p>
            Io ero confuso, non sapevo più cosa fosse giusto o sbagliato, ma metterlo al rogo mi sembrava in ogni caso un'esagerazione.<br/>
            Poi mi si gelò il sangue. Alle mie mani c'erano di nuovo legati dei fili, li seguii con lo sguardo e vidi che all'altro lato erano legati alle mani del prete. Lo fissavo sbalordito mentre realizzavo che mi stesse manipolando. <br/>
            Mi ricordai di essermi promesso di non finire mai più legato, mentre lo osservavo ordinare ai suoi fedeli di accendere il fuoco. Intontito guardai il fuoco divampare per qualche secondo e solo dopo, alzando lo sguardo notai che il blasfemo aveva dei fili recisi simili ai miei che pendevano dalle sue mani. L'unica persona simile a me che avevo incontrato stava bruciando.<br/>
            I miei fili si spezzarono di nuovo. Una strana sensazione, come una cappa calò sul mondo e tutti intorno a me iniziarono a mutare.<br/>
            I fedeli mutarono in dei bambini impauriti con una palla di gomma in bocca, ingenui, paurosi e sottomessi. <br/>
            Cristo sulla croce si trasformò in un fantasma dallo sguardo maligno che vigilava su di loro, lo spauracchio creato per tenerli a bada.
          </p>
          <p>
             Infine il corpo del prete si era gonfiato ed era completamente unto da qualcosa di viscido, i suoi vestiti erano quasi scomparsi e quel poco che ne rimaneva era orrendamente attillato, la croce che gli pendeva dal collo ora sembrava un giocattolo sessuale ed in una mano stringeva un frustino pronto per fustigare i bambini. <Br7>
            Ogni qualvolta uno di questi gli rivolgeva delle attenzioni, il suo membro, costantemente turgido, aveva un sussulto. Era la cosa più oscena che avessi mai visto.<br/>
          </p>
          <p>
             Gridai con tutte le mie forze ed iniziai a correre verso il blasfemo nella speranza di salvarlo, ma quei bambini mi rallentavano troppo. Arrivai vicino alle fiamme, ma era troppo tardi, il blasfemo era morto ed il suo sguardo era sguardo fisso su di me. Scoppiai in lacrime e cercai con lo sguardo un libro intatto tra la cenere. Afferrai un piccolo mazzo di pagine che si era salvato e corsi via gridando in un misto di  disperazione e rabbia.
          </p>
          <p>
             Non rimaneva molto di quello che il blasfemo aveva scritto, ma quello che ero riuscito a recuperare, unito a quello che avevo visto, mi fece sviluppare una repulsione naturale verso l'atteggiamento religioso.
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act2-3" class="act">
          <h3>Nettare di catrame – Tar Nectar</h3>
          <p>
            Mentre riflettevo sulle mie esperienze appena passate, sulla capacità dell'idolatria e dei simboli di deviare coloro che sono in cerca di risposte, mi resi conto di essere ancora in cerca di uno scopo, di qualcosa da fare in quel mondo. Decisi di cercare un lavoro.
          </p>
          <p>
            Fui spinto in questa ricerca da due fattori: il primo fu il sentirne parlare tantissimo in giro, tutti mi dicevano che lavorare è la principale attività di ogni persona; il secondo era il fattore economico, molte delle cose che potevo fare in quel mondo avevano un costo e non volevo essere limitato in quello che potevo sperimentare.
          </p>
          <p>
           Non dovetti fare molte ricerche per scoprire che la maggior parte dei lavori migliori erano preclusi a chi non aveva esperienza o molti anni di studio alle spalle. Ma non mi persi d'animo ed accettai di buon grado un lavoro in fabbrica, sicuro che sarebbe stato un nuovo inizio.
          </p>
          <p>
            Era la prima mattina in cui mettevo piede sul grande spiazzale che fronteggiava la fabbrica.<br/>
          Pensai, in tutta sincerità, che che un posto in cui si doveva passare la maggior parte della giornata dovesse avere un aspetto più accogliente, invece mi ritrovai di fronte ad un edificio scarno e dall'aspetto opprimente. Sembrava un grande alveare grigio dal quale venivano fuori decine di ciminiere, che rilasciavano un fumo densissimo, e tanti canali di scolo dai quali usciva un'acqua nera come la pece.<br/>
          Man mano che mi ci avvicinavo sentivo l'ansia che mi attorcigliava le budella.
          </p>
          <p>
           Mi misi in fila per entrare insieme agli altri operai. Li osservai attentamente, avevano tutti un aspetto abbastanza stanco e portavano una divisa da lavoro a righe, ingiallita dal tempo, che mi ricordava in parte l'aspetto di un'ape e in parte un’uniforme da carcerato.<br/>
          Cercai di parlare con qualcuno di loro, ma era gente di poche parole, le poche brevissime conversazioni che ebbi facevano trasparire una certa voglia di trascorrere la giornata velocemente per poi tornare a casa.
          </p>
          <p>
           Suonò una sirena ed entrammo tutti nella fabbrica. Il clima freddo che si percepiva cozzava con il mio stomaco che ribolliva sempre di più, sudavo e mi sentivo teso. <br/>
          Una volta all'interno un capo reparto mi disse quali erano il mio ruolo ed il mio posto e solo dopo aver svolto la mia mansione per qualche ora quella sensazione sgradevole se ne andò.
          </p>
          <p>
           Lavorare era durissimo, ma non mi dava preoccupazione la fatica in sé.<br/>
          Dopo qualche mese in fabbrica mi resi conto che avevo quasi smesso di informarmi sul mondo, cosa che prima facevo in modo febbrile, pensando che così avrei scoperto perché avevo preso vita.<br/>
          Ora mi ritrovavo ad essere troppo stanco nei momenti in cui non lavoravo, quindi la voglia di fare delle ricerche veniva meno.<br/>
          Anche il resto degli operai era affetto dalla stessa condizione. Molto spesso cercavo di parlare con loro, quando i superiori non erano nei paraggi, ma mi ritrovavo spesso a parlare con persone giù di morale e di cattivo umore. I loro interessi erano molto vaghi e fuori dal lavoro si concedevano distrazioni molto frivole, passive, nulla che richiedesse un minimo impegno.<br/>
          Queste persone entravano in quel posto giovani e forti, ma tendevano a consumarsi man mano, fermando di fatto la propria crescita personale.<br/>
          In molti erano lì solo perché non avevano alternative per sfamare la propria famiglia, si sentivano costretti, ma d'altra parte pensavano che questo gli desse onore e finivano anche per fare delle ore di lavoro in più solo per ricevere maggior decoro rispetto agli altri lavoratori.<br/>
          Molto spesso non riuscivo a comunicare con loro, precludevano ogni argomento che richiedesse un minimo d'analisi o semplicemente non mi rispondevano.
          </p>
          <p>
           L'aspetto della mia uniforme inizio a cambiare, la parte bianca si ingiallì molto velocemente, e inizio a trasudare un liquido nero, molto simile a quello che fluiva verso l'esterno tramite gli scarichi. Pensavo che gli operai più anziani semplicemente si macchiassero lavorando, ma invece erano le uniformi stesse a secernere quella sostanza.<br/>
          I giorni passavano, la mia uniforme diventava sempre più sporca ed il mio umore peggiorava sempre di più. Iniziai ad essere scontroso con gli altri operai. Spesso mi rivolgevo a loro chiamandoli “Api di merda” sbeffeggiandoli per il loro aspetto, ma io stesso ero diventato simile a loro.
          </p>
          <p>
           Una sera accettai di andare a bere con alcuni colleghi, entrammo in un bar vicino alla fabbrica e ci sedemmo ad un tavolo. Finalmente riuscivo a comunicare decentemente con alcuni di loro, ma rimasi deluso dalla scarsa quantità di argomenti che si potevano tirare fuori con loro e molto presto furono tutti troppo ubriachi per cercare di portare il discorso ad un altro livello.<br/>
          Era evidente che si ubriacassero per allentare lo stress che accumulavano durante la giornata, di giorno venivano consumati dalla fatica e di sera dall'alcol.<br/>
          Al nostro tavolo c'era l'operaio più anziano della fabbrica. Tanti anni là dentro lo avevano fatto incurvare, faceva fatica a camminare, la sua pelle era diventata scura per via di quella sostanza con cui era in contatto da tanto tempo ed i suoi occhi erano stanchi. Gli chiesi come facesse a lavorare ancora in fabbrica, mi rispose che non aveva alternative, doveva aspettare che arrivasse la pensione. Sembrava molto orgoglioso della vita che aveva fatto, eppure io ero terrorizzato alla sola idea di lavorare fino a consumarmi in quel modo. Quell'uomo aveva sacrificato la sua vita affinché la sua prole potesse avere una chance per essere più libera, per vivere più dignitosamente, eppure lui non riusciva ad ammettere tutto questo.
          </p>
          <p>
           Il giorno seguente, un’ora prima della fine della giornata, ero assorto nei miei pensieri quando fui richiamato da un gran vociare, il titolare della fabbrica stava per fare visita al mio reparto.<br/>
          Di solito a quell'ora erano già tutti stanchi, ma appena sentirono la notizia iniziarono a lavorare con il doppio dell'impegno, stupito da quell'improvvisa vivacità aumentai il ritmo del mio lavoro.<br/>
          Il capo reparto aprì il portone che conduceva al locale dove lavoravamo, dietro di lui entrò il titolare. Era un uomo ben curato, con un portamento nobile ed una certa aria di superiorità. Mi colpì molto il modo in cui era vestito, aveva un completo di un giallo dorato che quasi luccicava, attraversato in verticale da sottili righe nere. Sulla testa portava un'enorme corona, sembrava un'ape come noi,  ma sicuramente non dello stesso rango sociale, forse un'ape regina.<br/>
          Se ne stava al centro del locale e guardava gli operai affannarsi, mentre il capo reparto gli dava tutte le sue attenzioni. Con voce solenne disse: ”Voi siete dei grandi lavoratori, la base della nostra azienda. Il lavoro vi da dignità e vi rende delle persone migliori e state pur certi che io premierò chi si impegna di più tra voi.”.<br/>
          Sentite quelle parole gli operai iniziano a lavorare con ancora più foga, sembravano quasi posseduti da un'entità oscura. Le loro divise iniziarono a grondare liquido nero, mentre i loro sguardi divenivano sempre più furiosi. La prospettiva di ricevere una promozione li stava facendo quasi impazzire.
          </p>
          <p>
           Io mi guardavo intorno intontito, quando il capo reparto mi richiamò e mi disse di rimettermi subito al lavoro. Lo guardai senza replicare e semplicemente mi misi a camminare verso l'uscita della fabbrica, mentre le sue grida ed i suoi insulti mi rincorrevano e lo sguardo superbo del titolare mi accompagnava fuori.
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act2-4" class="act">
          <h3>Il carnevale dei porci – Carnival of Pigs</h3>
          <p>
            Tutti i miei tentativi di integrarmi con la società erano andati male, ero incapace di adattarmi alle situazioni in cui mi ero imbattuto. Finora avevo trovato ipocrisia e menzogne ovunque e non riuscivo a capire come facesse la gente a non accorgersene. Perciò mi lamentavo continuamente.<br/>
            Ero solito lamentarmi anche con gli sconosciuti incontrati da poco e fu proprio da uno di questi che venni a sapere dell'esistenza della politica. L'uomo in questione si fermò ad ascoltare le mie lamentele per un lungo periodo, all'inizio interessato, ma poi sempre più stufo. Quando non ne poté più mi disse che forse dovevo interessarmi di politica se pensavo di poter far di meglio.
          </p>
          <p>
             Il mondo politico era un concetto nuovo per me. Dopo aver scoperto la sua esistenza iniziai ad informarmi su come funzionasse. Quando seppi che era un modo con cui i comuni cittadini potevano cercare di cambiare le leggi che reggevano la società, iniziai ad esserne molto attratto.<br/>
            Feci un po' di ricerche per capirne la struttura e venni a sapere dei partiti e dei politici, persone che si ergevano a rappresentanti e portavoce del popolo.<br/>
            Cercai di capire quale partito faceva al caso mio e mi incamminai verso la sede più vicina.
          </p>
          <p>
             Mi ritrovai di fronte ad un ufficio tappezzato di manifesti su cui campeggiavano il volto sorridente del leader del partito ed altisonanti slogan che promettevano un futuro migliore.<br/>
            Entrai e fui accolto cordialmente dalla segretaria del politico con cui avrei dovuto parlare, mi disse di aspettare per qualche minuto e che presto avrei parlato con lui.<br/>
            All'interno dell'ufficio altri poster, altri slogan e bandiere che riportavano i colori ed il simbolo del partito, tra me e me pensai che ricordasse la sede di un club sportivo.
          </p>
          <p>
             Dopo qualche minuto d'attesa il leader mi fece accomodare nel suo ufficio.<br/>
            L'uomo che avevo di fronte si presentava molto bene, aveva un aspetto curato e buone maniere. L'unica cosa che mi lasciava un po' perplesso era la sensazione plastica che emanava il suo viso, congelato in un perenne sorriso.<br/>
            Mi invitò a sedermi e mi chiese di cosa desideravo parlargli. Gli raccontai tutta la mia storia, iniziando dalle brutte esperienze con l'educazione, passando per il periodo buio in cui mi avvicinai alla religione e concludendo con il lavoro in fabbrica che mi stava logorando. Per ognuno di questi punti esposi le mie perplessità e le paure che mi portarono ad allontanarmi da questi ambienti.<br/>
            Ascoltò tutto con molta attenzione, salvo qualche interruzione per offrirmi ora delle caramelle, ora un caffè. Questo mi infastidì un po', sembrava lo facesse per adescarmi, in un certo senso.<br/>
            Finito il mio racconto mi disse che sicuramente avrebbe incluso questi argomenti nel suo programma elettorale e che aveva molto a cuore il punto di vista di un cittadino con spirito critico come me.<br/>
            Detto questo mi invitò ad un dibattito che si teneva il giorno dopo nella piazza centrale della città, in cui avrebbe discusso con il rappresentante di un partito contrapposto al suo. Disse che gli argomenti che sarebbero stati trattati mi avrebbero sicuramente interessato.
          </p>
          <p>
             Il giorno dopo mi recai nella piazza dove si teneva il dibattito. Furono montati due palchi, uno di fronte all'altro. Ai piedi dei palchi si estendeva una folla spartita esattamente in due, ognuna delle parti badava bene a stare dal lato del suo partito e tutti indossavano i colori ed i simboli della propria fazione.<br/>
            Pensai che ciò era veramente eccessivo e che ricordassero troppo due tifoserie contrapposte, piuttosto che delle persone pronte a dar vita ad un dibattito politicamente costruttivo.
          </p>
          <p>
             Iniziai a camminare tra la gente fermandomi ogni tanto per chiedere informazioni sui punti che sarebbero stati discussi durante il dibattito. Mi sorpresi molto nel constatare che veramente in pochi erano informati su cosa si sarebbe discusso, ma tutti erano pronti a sostenere strenuamente il leader del proprio partito, se fosse stato necessario.
          </p>
          <p>
             I due politici salirono sui rispettivi palchi ed il dibattito iniziò con toni molto pacati, io li seguivo attentamente.<br/>
            Dopo qualche minuto i toni iniziarono ad alzarsi. Notai che ognuno dei due tendeva a non parlare mai della totalità del popolo, ma cercava di accattivarsi ulteriormente la propria fetta di elettori, elogiandoli come difensori della verità e indicandoli come vittime di soprusi, la cui colpa veniva spesso data alla gente dell'altra fazione.<br/>
            Fin lì mi sembrò che il dibattito non portasse da nessuna parte. Il modo in cui era impostato volgeva  a proporre delle riforme come rivendicazione di un diritto della propria parte di elettori e non come risoluzione ad un problema che riguardasse l'intera società.<br/>
            Intanto gli elettori facevano un vero e proprio tifo, anche se fino a lì non li trovavo troppo disturbanti.
          </p>
          <p>
             Poi i toni si inasprirono improvvisamente. I leader dei due partiti iniziando ad insultarsi sempre più pesantemente, ora disprezzando la fascia di elettori dell'altro, ora mettendo in mezzo episodi personali del rivale. Quello che doveva essere un dibattito si trasformò in un battibecco volto solo a screditare l'altra parte.<br/>
            La gente sotto al palco iniziò ad agitarsi ed a inveire sempre più violentemente verso l'altra parte. Gli addetti alla sicurezza faticavano per mantenere la calma.
          </p>
          <p>
             Mi rigirai verso il palco appena in tempo per assistere al gesto che sarebbe stato la scintilla che avrebbe fatto esplodere la situazione. Il politico con cui avevo parlato il giorno prima si infilò una mano nei pantaloni e tirandola fuori piena dei suoi escrementi, li lanciò verso il suo rivale.<br/>
            Il tempo sembrò rallentare mentre guardavo quel pezzo di sterco roteare in aria in direzione della fazione avversaria. Purtroppo il palco del rivale era troppo lontano ed il colpo andò a centrare uno degli elettori dell'altra fazione in piena faccia. Improvvisamente si ritrovò una maschera di merda sul volto. Vidi il torace di quell'uomo muoversi affannosamente prima che lanciasse un urlo disumano che infiammò gli animi di tutti i presenti in quella piazza.
          </p>
          <p>
             Un istante dopo la piazza era sprofondata nel caos. Squadriglie delle due diverse tifoserie si scontravano dando vita a delle risse violentissime, gli altri elettori da dietro inneggiavano cori e li incitavano. Ad un certo punto alcuni di essi sollevarono i palchi, mentre  i due leader , al di sopra, continuavano a lanciarsi contro una quantità esorbitante di merda, non riuscendo mai a colpirsi tra di loro per via della loro posizione sopraelevata. Pochi minuti dopo tutta la gente nella piazza perse la propria identità sotto una maschera di merda.
          </p>
          <p>
             Cercando una via di fuga da quel delirio mi soffermai a guardare i due che avevano portato a quella situazione. Finalmente notai perché le loro facce avevano quell'aspetto così plastico: erano delle maschere!<br/>
            Quando il caos nella piazza giunse al culmine i due si tolsero le maschere mostrando le loro vere sembianze. I due erano due maiali con un pene al posto del naso, che se la ridevano e godevano della loro posizione, mentre il popolo coperto dai loro escrementi li portava ingiustamente in trionfo.<br/>
            Tutto sembrava una grottesca sfilata di carnevale in cui quei porci sfilavano trascinati dalla folla. Far scontrare la gente in quel modo serviva solamente per proteggere la propria posizione privilegiata.
          </p>
          <p>
             Così fallì un altro mio tentativo di avvicinarmi alla società e non sapevo più a chi rivolgermi.
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act3" class="act">
          <h2>Atto III: A Strings' Dramedy</h2>
          <h3>A Strings’ Dramedy</h3>
          <p>
            Da quanto tempo camminavo? <br/>
            Ricordo solo il mio respiro che diventava sempre più affannoso e la mia vista offuscarsi. Tutto intorno a me era diventato un fiume di immagini indefinite, non riuscivo a concentrarmi per capire dove fossi e cosa stessi facendo. Cercai di sforzarmi ma la mia mente si annebbiò di nuovo...
          </p>
          <p>
            Da quanto tempo camminavo? <br/>
            Ricordo solo il mio respiro che diventava sempre più affannoso e la mia vista offuscarsi. Tutto intorno a me era diventato un fiume di immagini indefinite, non riuscivo a concentrarmi per capire dove fossi e cosa stessi facendo. Muovevo i miei passi casualmente in questo mondo che mi stava trasportando nei suoi flutti. Cercai di sforzarmi ma la mia mente si annebbiò di nuovo...
          </p>
          <p>
            Da quanto tempo camminavo? <br/>
            Ricordo solo il mio respiro che diventava sempre più affannoso e la mia vista offuscarsi. Tutto intorno a me era diventato un fiume di immagini indefinite, non riuscivo a concentrarmi per capire dove fossi e cosa stessi facendo. Muovevo i miei passi casualmente in questo mondo che mi stava trasportando nei suoi flutti. Sentivo il rammarico, per una vita che andava sprecata, crescere dentro di me. Le immagini di quella mia breve esistenza da libero si accalcavano nella mia testa, le sentivo premere dietro i miei occhi e venirne fuori facendomi lacrimare. Cercai di fare un ultimo sforzo per tornare alla ragione... Mi ritrovai di fronte al teatro. Spinsi la grande porta d'ingresso ed entrai.
          </p>
          <p>
            Il sipario si aprì, i riflettori si accesero e la musica partì. Sopra al palco c'erano le stesse marionette che si stavano esibendo nella stessa coreografia del giorno della mia fuga. Sebbene odiassi quel posto fui colto da uno strano senso di appartenenza e allo stesso tempo di rassegnazione. Salì sul palco e ripresi autonomamente il mio posto nella scena che stavamo recitando.<br/>
            Su quel palco si metteva in scena il grottesco ciclo della vita, l'unica opera esistente, l'unica a cui si poteva appartenere, e quel palco altro non era che la società, i cui membri venivano mossi da fili che non si potevano vedere.
          </p>
          <p>
            E così recitai ininterrottamente quelle scene che si ripetevano sempre uguali  e che mi ricordavano tanto quello che avevo visto nel mondo esterno:
          </p>
          <p>
            La prima scena era la nascita. <br/>
            Marionette di cui non si conosce il creatore vengono al mondo completamente ingenue e indifese,  esse non sanno né il motivo della loro esistenza né se hanno uno scopo in essa. Ma quando loro entrano in scena l'opera è già partita ed è frenetica e non si può fermare solo per farle salire sulla giostra. Loro devono imparare a camminare in fretta e si attaccano ai numerosi fili che pendono per il teatro per non rimanere riverse sul palco.
          </p>
          <p>
            Una volta che la marionetta era legata passava a recitare un copione ben preciso.<br/>
            Si inizia dall'educazione metodica. che produce individui quanto più uniformi possibile, per poi passare all'indottrinamento religioso, che spegne la curiosità di scoprire il mondo a favore di una chiusura mentale dando una vacua sicurezza sulle domande che più ci inquietano.<br/>
            Poi il lavoro: la maggior parte delle marionette viene convinta che il lavoro fine a sé stesso dia senso alla loro esistenza e dignità alla loro vita, ma questo si rivela essere spesso una mera illusione. La maggior parte della gente rimane umile finché non ha altre alternative o vie di fuga da quella condizione misera, poi appena fanno carriera usano il proprio potere per sottomettere chi vive ancora in povertà.<br/>
            Ed a proposito di potere si passa alla scena della politica nella quale tutte le marionette possono sfogare la loro frustrazione dividendosi in squadre ed accusandosi a vicenda della brutta piega che sta prendendo l'opera.
          </p>
          <p>
            Era questa la trama di quella grottesca rappresentazione, tra la commedia ed il dramma, che replicavamo di continuo nei suoi atti che si potevano riassumere con: nasci, apprendi, prega, lavora, vota e muori. La più grande opera di tutti i tempi, miliardi di comparse e migliaia di protagonisti e nessuna fine.
          </p>
          <p>
             Non badai a quanto tempo passò mentre recitavo di nuovo il mio ruolo, forse mesi, forse anni. Tra me e me iniziai a riflettere se in realtà fossi mai uscito da quel teatro o se avessi semplicemente vissuto le altre scene, se quel posto stesso non fosse il modo in cui ora vedevo il mondo o se ero davvero fisicamente confinato in quel posto. Potevo cercare di mantenere la mia parte in quell'opera, ma sarebbe stato inutile, i miei fili ormai erano recisi e non potevo smettere di fare certe riflessioni. Poi mi resi conto che c'era ancora un dubbio che dovevo togliermi: non avevo mai cercato l'origine di quei fili.
          </p>
          <p>
            Partivano dall'alto, da un luogo così distante da risultare invisibile dal suolo. Cercai di indagare all'interno del teatro per capire se si sapeva chi muovesse quei fili, provando a interagire con le altre marionette, ma mi trovai solo ad assistere a scene d'isteria in cui parte dei figuranti accusava  un'altra parte di essi. Ma venivano sempre mossi dall'alto, sempre e solamente dall'alto.
          </p>
          <p>
            Continuare ad indagare in quel modo non mi avrebbe portato da nessuna parte. Compresi che l'unico modo per capirci qualcosa era arrampicarmi sui fili fino a giungere all'altro capo.
          </p>
          <hr class="col-md-12">
      </div>
      <div id="act3-2" class="act">
          <h3>Il nodo – The knot of wills</h3>
          <p>
            L'arrampicata era dura e stava seriamente mettendo alla prova la mia forza di volontà. <br/>
            Arrivato ad un'altezza considerevole mi resi conto che tutti i fili convergevano verso un unico punto. Qualsiasi cosa ci fosse la sopra mi avrebbe dato le risposte che cercavo, questo mi diede la forza per andare avanti.
          </p>
          <p>
            Più salivo e più l'oggetto al quale mi stavo avvicinando mi rendeva perplesso, questo distolse in parte i miei pensieri dall'estrema stanchezza.<br/>
            Era una grande sfera che fluttuava nel cielo. A prima vista pensai ad una specie di piccola luna che orbitava intorno alla terra, ma aveva qualcosa di strano, sembrava che vibrasse e c'era qualcosa in continuo movimento sulla sua superficie.
          </p>
          <p>
            Infine arrivai su quello strano oggetto e scoprii che era completamente formato da fili. Era grande almeno quanto una città ed i fili che lo formavano si muovevano di continuo, era una specie di grande gomitolo annodato in un disordine indecifrabile.<br/>
            Iniziai a camminarci sopra sperando di incontrare chi lo aveva creato.
          </p>
          <p>
            Camminavo da ore ed ero abbastanza sicuro di aver fatto il giro di quella matassa almeno una volta, ma quel posto era completamente deserto. Decisi di non perdermi d'animo e che sarei rimasto lassù finché non avessi decifrato il mistero che lo avvolgeva.
          </p>
          <p>
            Stavo meditando su quel posto quando ebbi un'idea, presi alcuni fili e li legai ai miei piedi. Improvvisamente le mi gambe iniziarono a muoversi da sole e mi ritrovai a correre su quel piccolo satellite in direzioni completamente casuali. I movimenti dei miei piedi erano completamente sconnessi e dovetti slegarmi prima di farmi gravemente male. Qualcosa mi aveva manovrato, ma non riuscivo a cogliere nessun senso in quello che ero stato costretto a fare.<br/>
            Riprovai facendo la stessa cosa con una mia mano. Iniziò ad agitarsi, dandomi anche qualche sberla,  e dovetti togliere subito il filo prima di ferirmi. Ma appena tolsi il filo notai qualcosa, c'era un altro filo legato alla mia mano, sottile, quasi invisibile. Cercai di toglierlo ma era intangibile. Ma questo filo non sembrava comandarmi, non sentivo in alcun modo la volontà alterata.<br/>
            Lo seguì fino all'altro capo, sul punto in cui entrava dentro a quella matassa. Provai a tirarlo e con mia grande sorpresa mi resi conto che quel filo stava alterando parte degli altri sotto ai miei piedi. Mi resi conto che quel filo non partiva dalla matassa per venire da me, ma faceva esattamente l'opposto.
          </p>
          <p>
            Fu lì che finalmente compresi quello stava accadendo. Guardai gli altri miei arti e vidi che c'erano altri fili simili che andavano verso la matassa e tutti la alteravano in modo infinitesimale. Quei fili rappresentavano la mia volontà, che andava a mischiarsi con quella di miliardi di altre persone in quell'enorme nodo. Lì tutte le azioni e tutti i desideri degli uomini venivano contaminati dagli altri, perdendo ogni personalità e formando un unico grande ammasso di volontà, caotico ed indecifrabile. Quel caos generava poi i fili che io avevo sempre visto, essi tornavano indietro tra le gente e la guidavano senza che nessuno se ne accorgesse e senza che ci fosse nessun burattinaio a farlo.
          </p>
          <p>
            Quel grande nodo nel cielo non si muoveva in modo casuale, dopotutto arrivavano a lui le precise volontà delle persone, ma il loro numero era talmente elevato che era impossibile tenere traccia dei fili che ci arrivavano ed era impossibile capire come si fossero generati quelli che tornavano indietro.
          </p>
          <p>
            Per la prima volta mi sentivo veramente libero e pronto ad affrontare il mondo.
          </p>
          <p>
            Tutti burattinai, tutti burattini.
          </p>
          <hr class="col-md-12">
      </div>
    </div>
  </div>
</section>
