## Biografia

Il progetto Macaria nasce nell’estate del 2009, sotto l'iniziale nome di “**Folkentroll**”, da un’idea di Marco Carangelo (chitarra) e Luca De Marco (basso).
Dopo aver reclutato Federico Mauro alle tastiere e Luca Casto alla batteria il combo inizia subito a comporre i suoi primi pezzi alternandoli a cover dei finnici
Korpiklaani. Di questi ultimi riprendono l’atmosfera festaiola sostenuta da una corposa sezione ritmica che richiama lo Speed/Thrash metal.
Pochi mesi dopo, appena dopo l’ingresso di Lorenzo Manco come cantante, la band inizia un’intensa attività live nei locali ed in diverse manifestazioni della zona.
In sala prove intanto continua un costante lavoro di composizione che porterà ad un sound più complesso, aperto a nuove sperimentazioni e con richiami Progressive.
Complice di ciò è anche l’entrata in formazione del secondo chitarrista Davide Pastore.
Nell’estate del 2011 la band entra in studio per registrare il suo primo album intitolato “**Jester of chaos**” che raccoglie i migliori pezzi composti finora.

Nel 2013 la band decide di abbandonare il nome Folkentroll, a favore dell'attuale **Macarìa**. Con questo nome iniziano i lavori per il loro primo album, nel quale
le vecchie sonorità vengono miscelate con una nuova componente symphonic death e varie altre influenze, cercando di superare ogni restrizione di genere.

A Febbraio 2015 entrano nel **Newstar REC Studio** di Torre Lapillo per registrare il loro primo full-length “**A Strings' Dramedy**”, un concept album basato su
una critica sociale in chiave allegorica.

A Maggio 2016 firmano con l'etichetta romana <a href="http://www.revalverecords.com/" target="_blank">**Revalve Records**</a> ed il 7 Ottobre 2016 esce il loro primo
album “**A Strings' Dramedy**”. Durante i mesi successivi la band si esibisce in diversi live in cui suona le canzoni del nuovo full-length.

Ad Aprile 2018 la band vede l'uscita del cantante Lorenzo Manco e del bassista Luca De Marco, una decisione veicolata da scelte di vita e musicali differenti.
Da quel momento i Macaria cominciano a lavorare sui nuovi brani con i nuovi membri ufficiali, Francesco Erroi al basso e Giacomo Albanese alla voce.

A Luglio 2018 viene pubblicato il videoclip di **Carnival Of Pigs**.

La line-up dei Macaria è formata da:
<ul class="list-unstyled">
  {% for member in site.data.members %}
    <li><strong>{{ member.name }}</strong> - {{ member.instrument.it }}</li>
  {% endfor %}
</ul>
