<!-- effect6 -->
<div class="row">

  {% for member in site.data.members %}
    <div class="col-xs-12 col-sm-6 col-md-4">

      <!-- colored -->
      <div class="ih-item square colored effect6 bottom_to_top center-block">
        <a href="javascript:void(0)">
          <div class="img">
            <img src="{{ member.img }}" alt="img" class="macaria-member">
          </div>
          <div class="info macaria">
            <h3>{{ member.name }}</h3>
            <!--<p>{{ member.instrument }}</p> -->
          </div>
        </a>
      </div>
      <!-- end colored -->

    </div>
  {% endfor %}
</div>
