<div id="carousel-review" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for review in site.data.reviews %}
      <li data-target="#carousel-review" data-slide-to="{{ forloop.index }}" {% if forloop.index == 1 %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for review in site.data.reviews %}
      <div class="item {% if forloop.index == 1 %}active{% endif %}">
        <div class="carousel-caption">
          <div>
            <blockquote class="album-review">
              <p>{{ review.quote }}</p>
              {% if review.vote %}
                <strong>{{ review.vote }}</strong>
              {% endif %}
              <footer>
                {% if review.url %}
                  <a href="{{ review.url }}" target="_blank">{{ review.website }}</a>
                {% else %}
                  {{ review.website }}
                {% endif %}
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-review" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-review" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
