.thumbnail-strings-dramedy {
  background-color: $primary-color;
  border: 1px solid $primary-color;

  img {
    border: 1px solid $primary-color;
  }

  .caption {
    color: $font-color;
  }
}

.content-section {
  ul.text-left, ol.tracklist {
    text-align: left;
    padding-left: 5px;
  }

  ol.tracklist {
    list-style-type: decimal-leading-zero;
  }
}

.btn-primary {
  background-color: $strings-dramedy;
  border-color: $strings-dramedy;

  &:hover, &:focus, &:active, &:active:hover, &:active:focus {
    background-color: $hover-color;
    border-color: $hover-color;
    outline-color: $hover-color;
  }

}

.navbar-custom .nav {
  li.active a {
    background-color: $strings-dramedy;
  }
}

#strings-dramedy-story {
  text-align: left;
}

#a-strings-nav {
  font-size: 15px;

  li.active a {
    background-color: $strings-dramedy;
    border-color: $strings-dramedy;
  }
}

@media(max-width:1200px) {
  #a-strings-nav {
    width: 220px;
  }
}

.nav li.active a {
  background-color: $hover-color;
  border-color: $hover-color;
  color: #FFF;
}

.act {
  padding-top: 75px;
}

@media(max-width:991px) {
    .act {
        padding-top: 0px;
    }
}

.table.events {
  font-size: 15px;
  
  thead tr th {
    text-align: center;
  }
}
