.thumbnail-strings-dramedy {
  background-color: $primary-color;
  border: 1px solid $primary-color;

  img {
    border: 1px solid $primary-color;
  }

  .caption {
    color: $font-color;
  }
}

.content-section {
  ul.text-left, ol.tracklist {
    text-align: left;
    padding-left: 5px;
  }

  ol.tracklist {
    list-style-type: decimal-leading-zero;
  }
}

.btn-primary {
  background-color: $strings-dramedy;
  border-color: $strings-dramedy;
}

.navbar-custom .nav {
  li.active a {
    background-color: $strings-dramedy;
  }
}

#strings-dramedy-story {
  text-align: left;
}

.nav.affix {
  width: 270px;
}

.nav li.active a {
  background-color: $hover-color;
  border-color: $hover-color;
  color: #FFF;
}

.btn-primary:hover {
  background-color: $hover-color;
  border-color: $hover-color;
}
