
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

    {% include header.html %}

    {% assign current_lang = page.lang %}

    {% for p in site.pages_list[current_lang] %}
      {% for page in site.pages %}
        {% if p.name == page.section-type %}
          {% if current_lang == page.lang %}
            {% include {{ page.path }} %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
