
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="151">

    {% include navigation.html %}

    {% include header.html %}

    {% assign current_lang = page.lang %}

    <!-- Special section with the video -->
    <section class="container content-section text-center">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Td4xPZjFvV8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </section>

    {% for p in site.pages_list[current_lang] %}
      {% for page in site.pages %}
        {% if p.name == page.section-type %}
          {% if current_lang == page.lang %}
            {% include {{ page.path }} %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
